<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="restyle.css">
</head>
<div class="nav">
    <div class="logo"><img src="../images/sagarlogo.png" alt="logo"></div>
    <div class="name">SAGAR SWEEETS & DAIRY</div>
    <div class="nav-list">
        <ul class="nav-items">    
        <li><button class="homeBtn">HOME</button><i class="fa-solid fa-angle-down"></i></li>
        <li ><button class="sweetBtn">SWEETS</button><i class="fa-solid fa-angle-down"></i></a></li>
        <li><button class="dairyBtn"> DAIRY PRODUCTS</button><i class="fa-solid fa-angle-down"></i></li>
        <li><button class="contactusBtn">CONTACT US</button><i class="fa-solid fa-angle-down"></i></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="dropdown-btn" onclick="toggleDropdown()">☰ Menu</button>
        <div id="dropdownMenu" class="dropdown-content">
          <a href="/index">Home</a>
          <a href="/sweets">Sweets</a>
          <a href="/dairy">Dairy Products</a>
          <a href="/contactus">Contact Us</a>
        </div>
      </div>
</div>
</body>
</html>
