<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Sagar Sweets</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="restyle.css">
    <link rel="stylesheet" href="style.css"> <link rel="icon" href="/images/sagarlogo.png" type="images/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="contactus">
        <div class="contactlinks">
            <a href="https://wa.me/919896002935?text=Hello%2cI%20want%20to%20know%20more%20about%20your%20products." target="_blank" style="text-decoration: none;">
                <div class="whatsapp-box contact-icon">
                    <div class="icon"><img src="/images/whatsapp-gpS.svg" alt="whatsapp-gpS"></div>
                    <div class="icontext">
                        <div class="icontext-head whatsapp-head">WHATSAPP</div>
                        <div class="icontext-body">Connect With us on Whatsapp</div>
                    </div>
                </div>
            </a>
            <a href="https://mail.google.com/mail/?view=cm&to=customercare.sagarsweets@gmail.com&su=Product%20Inquiry&body=Hi%2C%20I%20am%20interested%20in%20your%20products." target="_blank"
            style= "text-decoration: none;">
                <div class="email-box contact-icon">
                    <div class="icon"><img src="/images/email-sEX.svg" alt="emaillogo"></i></div>
                    <div class="icontext">
                        <div class="icontext-head email-head">EMAIL</div>
                        <div class="icontext-body">Connect with us on Mail</div>
                    </div>
                </div>
            </a>
            <a href="https://www.instagram.com/sagar_sweetsndairy/" target="_blank"
            style= "text-decoration: none;">
                <div class="instagram-box contact-icon">
                    <div class="icon"><img src="/images/instalogo.svg" alt="instalogo"></i></div>
                    <div class="icontext">
                        <div class="icontext-head email-head">INSTAGRAM</div>
                        <div class="icontext-body">Follow us on Instagram</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="contactform">
            <h2>Signup Form</h2>
            <form id="signupForm">
                    <input type="text" id="signupname" required class="signup" placeholder="Enter your Name">
                <br>
                    <input type="email" id="signupemail" required class="signup" placeholder="Enter your mail"/>
                <br>
                    <textarea name="description" id="signupquery" required class="signup" placeholder="Enter query" rows="4" cols="30"></textarea>
                <br>
                <button type="submit" class="signupsubmit">Submit</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="script.js" defer></script>
</body>
</html>