<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy Products - Sagar Sweets</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="restyle.css">
    <link rel="stylesheet" href="style.css"> <link rel="icon" href="/images/sagarlogo.png" type="images/x-icon" />
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="dairypro-con ">
        <div class="sec">
            <div class="product">
                    <img src="../images/desighee.png" alt="desighee">
                    <div class="producttxt">Desi ghee, made from churned curd or fresh cream, offers a rich, nutty aroma and golden translucence—cultured ghee is tangy‑complex, while cream ghee is milder and buttery.
                    </div>
            </div>
            <div class="product">
                    <img src="../images/paneer.png" alt="paneer">
                    <div class="producttxt">Our paneer is handmade daily from 100% pure milk, ensuring rich texture, soft bite, and natural freshness. Pure, healthy, and crafted with love at Sagar Sweets & Dairy.
                    </div>
            </div>
        </div>
        <div class="sec">
            <div class="product">
                    <img src="../images/dahi.png" alt="dahi">
                    <div class="producttxt">Velvety dahi made from pure milk, crowned with a luxuriously thick malai layer. Each spoonful delivers rich, creamy texture and a subtly sweet, indulgent taste.
                    </div>
            </div>
            <div class="product">
                    <img src="../images/makhan.png" alt="makhan">
                    <div class="producttxt">Experience the rich, creamy taste of our white makhan, handcrafted from pure dahi. 100% natural, smooth, and wholesome—just like grandma used to make!
                    </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="script.js" defer></script>
</body>
</html>